#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>


/ {

  chosen {
    zmk,kscan = &kscan0;
    zmk,physical-layout = &physical_layout0;
  };

  /* kscan0: kscan0 { */
  /*       compatible = "zmk,kscan-gpio-direct"; */
  /*       wakeup-source; */
  /**/
  /*       input-gpios */
  /*       = <&pro_micro 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> */
  /*       , <&pro_micro 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> */
  /*       , <&pro_micro 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> */
  /*       , <&pro_micro 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> */
  /*       , <&pro_micro 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> */
  /*       , <&pro_micro 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> */
  /*       , <&pro_micro 18 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> */
  /*       , <&pro_micro 21 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> */
  /*       ; */
  /* }; */
  /**/

  kscan0: ksan0 {
        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;
        diode-direction = "col2row";
        col-gpios
            = <&pro_micro 9 GPIO_ACTIVE_LOW>
            , <&pro_micro 8 GPIO_ACTIVE_LOW>
            ;
        row-gpios
            = <&pro_micro 3 GPIO_ACTIVE_HIGH>
            , <&pro_micro 5 GPIO_ACTIVE_HIGH>
            ;

  };
    
  default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        columns = <2>;
        rows = <2>;
        map = <
        //   Key 1 | Key 2 | Key 3
            RC(0,0) RC(0,1) RC(0,2)
        //   Key 4 | Key 5 | Key 6
            RC(0,3) RC(0,4) RC(0,5)
        //   Key 7 | Key 8 | Key 9
            RC(0,6) RC(0,7) RC(0,8)
        >;
  };

  physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default";
        transform = <&default_transform>;
        kscan = <&kscan0>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0    0       0     0     0>
            , <&key_physical_attrs 100 100  100    0       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100    0  100       0     0     0>
            , <&key_physical_attrs 100 100  100  100       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100    0  200       0     0     0>
            , <&key_physical_attrs 100 100  100  200       0     0     0>
            , <&key_physical_attrs 100 100  200  200       0     0     0>
            , <&key_physical_attrs 100 100  300  200       0     0     0>            
        ;
  };

/*   encoder0: encoder_ec25 { */
/*     compatible = "alps,ec11"; */
/*     a-gpios = <&pro_micro_d 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; */
/*     b-gpios = <&pro_micro_d 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; */
/*     steps = <20>; */
/*     status = "okay"; */
/*     resolution = <1>; */
/*   }; */
/**/
/*   encoder1: encoder_wheel_vertical { */
/*     compatible = "alps,ec11"; */
/*     a-gpios = <&pro_micro_d 19 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; */
/*     b-gpios = <&pro_micro_d 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; */
/*     steps = <24>; */
/*     status = "okay"; */
/*     resolution = <1>; */
/*   }; */
/**/
/*   encoder2: encoder_wheel_horizontal { */
/*     compatible = "alps,ec11"; */
/*     a-gpios = <&pro_micro_d 16 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; */
/*     b-gpios = <&pro_micro_d 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; */
/*     steps = <24>; */
/*     status = "okay"; */
/*     resolution = <1>; */
/*   }; */
/**/
/*   sensors { */
/*     compatible = "zmk,keymap-sensors"; */
/*     sensors = <&encoder0 &encoder1 &encoder2>; */
/*     first_encoder { */
/*         triggers-per-rotation = <10>; */
/*     }; */
/*     second_encoder { */
/*         triggers-per-rotation = <12>; */
/*     }; */
/*     third_encoder { */
/*         triggers-per-rotation = <12>; */
/*     }; */
/*   }; */
};
