#include <dt-bindings/zmk/matrix_transform.h>

/ {

  chosen {
    zmk,kscan = &kscan0;
    zmk,matrix_transform = &default_transform;
  };

  kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;

        input-gpios
        = <&pro_micro 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&pro_micro 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&pro_micro 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&pro_micro 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&pro_micro 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&pro_micro 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&pro_micro 18 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&pro_micro 21 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        ;
  };
  
  default_transform: keymap_transform0 {
        compatible = "zmk,matrix-transform";
        columns = <9>;
        rows = <1>;
        map = <
        //   Key 1 | Key 2 | Key 3
            RC(0,0) RC(0,1) RC(0,2)
        //   Key 4 | Key 5 | Key 6
            RC(0,3) RC(0,4) RC(0,5)
        //   Key 7 | Key 8 | Key 9
            RC(0,6) RC(0,7) RC(0,8)
        >;
    };
  
  encoder0: encoder_ec24 {
    compatible = "alps,ec11";
    a-gpios = <&pro_micro_d 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    b-gpios = <&pro_micro_d 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    steps = <80>;
    status = "okay";
    resolution = <1>;
  };

  encoder1: encoder_wheel_vertical {
    compatible = "alps,ec11";
    a-gpios = <&pro_micro_d 19 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    b-gpios = <&pro_micro_d 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    steps = <96>;
    status = "okay";
    resolution = <1>;
  };

  encoder2: encoder_wheel_horizontal {
    compatible = "alps,ec11";
    a-gpios = <&pro_micro_d 16 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    b-gpios = <&pro_micro_d 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    steps = <96>;
    status = "okay";
    resolution = <1>;
  };

  sensors {
    compatible = "zmk,keymap-sensors";
    sensors = <&encoder0 &encoder1 &encoder2>;
    first_encoder {
        triggers-per-rotation = <20>;
    };
    second_encoder {
        triggers-per-rotation = <24>;
    };
    third_encoder {
        triggers-per-rotation = <24>;
    };
  };
};
